<div class="row mt-4 mb-4">
    <div class="d-flex col-4 border justify-content-center">
        <img src="{{charDetails.thumbnail.path}}/portrait_incredible.{{charDetails.thumbnail.extension}}" alt="">
    </div>
    <div class="col-md-8 border">
        <h2>{{charDetails.name}}</h2>
        <div>
            <p>{{charDetails.description}}</p>
        </div>
        
    </div>
</div>