<div class="row row-col-2 mt-4 mb-4">
    <div class="d-flex justify-content-center col col-md-4">
        <img src="{{charDetails.thumbnail.path}}/portrait_incredible.{{charDetails.thumbnail.extension}}" alt="">
    </div>
    <div class="d-flex flex-column align-items-start col col-md-8">
        <h2>{{charDetails.name}}</h2>
        <div>
            <p>{{charDetails.description}}</p>
        </div>
        
    </div>
</div>